################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Booktopia/v15/Server/sqlite3/db.lock
/Booktopia/App_Data/aspnet-Booktopia-20181224125340.mdf
/Booktopia/App_Data/aspnet-Booktopia-20181224125340_log.ldf
